In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

d2 = pd.read_csv("d2_trabalhadoDrop.csv", sep=",")

In [2]:
X = d2.drop(['dropout'], axis=1)
y = d2['dropout']

In [3]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif, mutual_info_classif

f_classif = SelectKBest(score_func=f_classif, k=7)
# k = 4 (é o número de variáveis selecionadas)

In [4]:
fit = f_classif.fit(X, y)

In [6]:
features = fit.transform(X)
cols = fit.get_support(indices=True)
d2.iloc[:, cols]

     age  address  failures  absences  G1  G2  G3
0     18        1         0         4   0  11  11
1     17        1         0         2   9  11  11
2     15        1         0         6  12  13  12
3     15        1         0         0  14  14  14
4     16        1         0         0  11  13  13
..   ...      ...       ...       ...  ..  ..  ..
644   19        0         1         4  10  11  10
645   18        1         0         4  15  15  16
646   18        1         0         6  11  12   9
647   17        1         0         6  10  10  10
648   18        0         0         4  10  11  11

[649 rows x 7 columns]

chi2

In [7]:
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

X = d2.drop('dropout', axis=1)
y = d2['dropout']

test = SelectKBest(chi2, k=7)
fit = test.fit(X,y)

fit.get_support(indices=True)

features = fit.transform(X)

cols = fit.get_support(indices=True)
d2.iloc[:, cols]

     failures  famsup  absences  G1  G2  G3  reason_other
0           0       0         4   0  11  11             0
1           0       1         2   9  11  11             0
2           0       0         6  12  13  12             1
3           0       1         0  14  14  14             0
4           0       1         0  11  13  13             0
..        ...     ...       ...  ..  ..  ..           ...
644         1       0         4  10  11  10             0
645         0       1         4  15  15  16             0
646         0       0         6  11  12   9             0
647         0       0         6  10  10  10             0
648         0       0         4  10  11  11             0

[649 rows x 7 columns]

RFE

In [8]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(max_iter=2000)

from sklearn.feature_selection import RFE

model = LogisticRegression(solver='saga', max_iter=5000)
rfe = RFE(model, n_features_to_select=7, step=2)

fit = rfe.fit(X,y)

In [9]:
cols = fit.get_support(indices=True)
d2.iloc[:, cols]

     age  Fedu  goout  Dalc  absences  G2  G3
0     18     4      4     1         4  11  11
1     17     1      3     1         2  11  11
2     15     1      2     2         6  13  12
3     15     2      2     1         0  14  14
4     16     3      2     1         0  13  13
..   ...   ...    ...   ...       ...  ..  ..
644   19     3      2     1         4  11  10
645   18     1      4     1         4  15  16
646   18     1      1     1         6  12   9
647   17     1      5     3         6  10  10
648   18     2      1     3         4  11  11

[649 rows x 7 columns]

Random Forest

In [10]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=10)
model.fit(X,y)

RandomForestClassifier(n_estimators=10)

In [11]:
feature_importances = pd.DataFrame(model.feature_importances_,
                                   index = X.columns,
                                   columns = ['importance']).sort_values('importance',
                                   ascending=False)
feature_importances

                   importance
G3                   0.543438
G2                   0.145693
G1                   0.066750
failures             0.030487
absences             0.022264
age                  0.021879
studytime            0.016959
goout                0.015367
famsup               0.013649
Dalc                 0.013409
health               0.012074
Walc                 0.011776
Mjob_other           0.010512
Mjob_at_home         0.008910
traveltime           0.007069
address              0.006589
reason_home          0.006557
activities           0.006544
sex                  0.006211
internet             0.005199
Medu                 0.004763
Mjob_services        0.004602
Fjob_services        0.004401
reason_other         0.003765
famrel               0.003548
Fedu                 0.002590
nursery              0.002243
famsize              0.001048
guardian_father      0.000825
freetime             0.000416
romantic             0.000260
Fjob_other           0.000104
Mjob_teacher         0.000097
Fjob_at_home         0.000000
Fjob_health          0.000000
Pstatus              0.000000
Mjob_health          0.000000
Fjob_teacher         0.000000
reason_course        0.000000
schoolsup            0.000000
paid                 0.000000
reason_reputation    0.000000
higher               0.000000
guardian_mother      0.000000
guardian_other       0.000000